/* Footer.css */
.footer {
    background-color: #212121;
    color: #fff;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-section h2 {
    color: #ff0000; /* Red color for heading */
  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links li {
    margin-bottom: 10px;
  }
  
  .links a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input,
  .contact-form textarea,
  .contact-form button {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .contact-form button {
    background-color: #e44d26; /* Red color for button */
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-form button:hover {
    background-color: #ff0000; /* Darker red on hover */
  }
  
  .footer-bottom {
    background-color: #222;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fff;
  }
  